@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body, html {
    height: 100%;
    margin: 0;
  }

  body {
    background-image:url("../Photos/1503294.jpg");
    background-attachment:fixed;
    background-position:center;
    background-size: cover;

}


.nav {
    background-color: white;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: space-between;

    
}

.nav-b {

    border-style: hidden;
    border-radius: 25px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
    font-size: medium;
    font-weight: bold;

}

button:hover {
    background-color: #ffce6d;
    color:white;


}


.font {
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
}

button {
    font-weight: 700;
}



.home{
    background-color: white;
    border-radius: 50px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 200px;
    padding: 20px 100px 20px 100px;

    
}

#cfp {
    font-size:40px;
}

.place {
    padding-bottom: 50px;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: #ffce6d;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 25px;
}

.nav-down {
    background-color: #ffce6d;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
}

.icons {
    font-size: 20px;
}

.cr {
    font-family: 'Indie Flower', cursive;

}

.nav-d {
    padding-top: 100px;
}